html {
    font-size: 10px;

}

body {
    font-size: 1.8rem;
    font-family: 'Open sans', Verdana, Sans-serif, Georgia;
}

h2 {
font-family: 'Georgia';
font-style: normal;
font-weight: 400px;
font-size: 44px;
}